<app-navbarre></app-navbarre>

<header class="bg-primary text-white text-center py-5">
    <div class="container">
        <h1 class="display-3">Bienvenue sur notre site</h1>
        <p class="lead">Découvrez nos services exceptionnels</p>

        <!-- Ajout de la bannière -->
        <div class="banner mt-4">
            <p>Explorez notre plateforme pour simplifier la gestion de vos documents.</p>
            <a href="#services" class="btn btn-light btn-lg">Nos Services</a>
        </div>
    </div>
</header>

<main class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>À propos de nous</h2>
            <p>Nous sommes une boite qui a innové une solution vous permettant la gestion de vos documents en toute fluidité.</p>
        </div>
        <div class="col-md-6">
            <img src="assets/images/doc.jpg" alt="Document" class="img-fluid rounded-circle img-reduced-size">
        </div>
    </div>
</main>

<footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2022 Votre Société. Tous droits réservés.</p>
</footer>
